*{
    margin : 0 ; 
    padding: 0 ;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

html{
  scroll-behavior: smooth;
}      
 }

 body{
  background: black; 
  color: #fff ;
 }
 /*================== accueil ================*/
 .main{
    width: 100%;
    color: white ; 
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif ;
   
 } 
 nav{
    width: 86%;
    display: flex ;
    margin : auto ;
    padding: 15px 0 ; 
    align-items: center;
    justify-content: space-between;
     
 }
nav ul {
    margin-left: auto; /* pousse la liste vers la droite */
    display: flex;
}
ul li{
    list-style : none ; 
    display: block;
    padding: 10px 16px;
     
  }

ul li a{
    font-size:16px ;
    font-weight: bold;
    text-decoration: none;
    color : rgb(231, 240, 240) ; 
    margin-top: -3% ;
    transition:.4s ease ;
  }

ul li a:hover{
    color : rgb(113, 113, 198); 
  }

.info {
    margin-left: 7%;
    margin-top : 6%
  }

.info h1{
    font-size : 65px ; 
    color :rgb(113, 113, 198)
  }

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
  }

.info a {
    margin-top: 20px; 
    text-decoration: none;
    color: white ;
    background: rgb(113, 113, 198); 
    padding: 10px 18px ; 
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}

.info a:hover{
    background: rgb(187, 187, 208);
  }

span{
    color :rgb(113, 113, 198);
  }
 
/*================== about ================*/
#about{
 background-color: black;
 padding: 80px 0;
 color : #ababab ;
 padding-top: 0px;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-2{
    margin-left: 7%;
    margin-top : 6%
}

.about-col-2 p {
  text-align: justify;
  margin-top: 30px; /* espace entre le titre et le texte */
  line-height: 1.8; /* améliore la lisibilité */
  max-width: 800px; /* limite la largeur sur grand écran */
  margin-left: 50px ;
  margin-right: 50px;
}

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color : white ;
}

.tab-titles{
   display: flex;
   margin : 20px 0 40px ; 
   margin-top: 10px;
   margin-bottom : 10px ;
}

.tab-links{
  margin-right: 50px;
  font-size : 18px ;
  font-weight: 500;
  cursor: pointer;
  position: relative; 
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px  ;
  background: rgb(113, 113, 198);
  position : absolute ; 
  left : 0 ;
  bottom :-8px ; 
  transition: 0.5s;
}

.tab-links.active-link::after{
   width: 50%;
}

.tab-contents ul li{
  list-style: none;
  margin : 6px 0 ;  
}

.tab-contents ul li span{
  color :rgb(113, 113, 198); 
  font-size :16px ;
}

.tab-contents{
   margin-left: 30px;
   margin-top : 5px ;
   display : none ; 
}
.tab-contents.active-tab{
  display : block ; 
}

/*================== competences ================*/
#competences{
  padding : 30px 0; 
  background: black;
  margin-right: 50px;

}
.competences-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap :40px ;
  margin-top:50px ;

}
.containerComp{
  margin-left : 60px ;
}

img{
  width: 50px;
  height: 50px;
  position: center;
}

.competences-list div{
  background: #262626;
  padding: 40px;
  font-size: 13px ;
  font-weight : 300 ; 
  border-radius : 10px ;
  transition: background 0.5s , transform 0.5s; 
}

.competences-list div:hover{
  background: rgb(113, 113, 198) ;
  transform: translateY(-10px) ;
}
/*============================== projet ===============*/
.projet {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    gap: 30px;
    flex-wrap: wrap;
}

.projet-img {
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.projet-content {
    flex: 1;
    max-width: 600px;
}

.projet-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(113, 113, 198);
}

.projet-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Boutons GitHub et Vidéo */
.projet-links {
    display: flex;
    gap: 10px;
}

.btn-projet {
    text-decoration: none;
    padding: 8px 16px;
    background-color: rgb(113, 113, 198);
    color: #000;
    border-radius: 6px;
    transition: background 0.3s ease;
    font-weight: bold;
}

.btn-projet:hover {
    background-color: rgb(113, 113, 198);
}
#projets{
  margin-left: 40px;
}
.section {
    padding: 60px 40px;
    background-color: #000; /* fond noir */
    color: #fff;
}

.section-title {
    font-size: 50px;
    margin-bottom: 25px;
    margin-left: 7px;
}
.projet-list {
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px ,1fr));
  grid-gap :40px ;
  margin-top : 50px;
}
.projet{
  border-radius: 10px;
  position:relative ;
  overflow : hidden ;
}
.projet img{
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  margin-top: 15px;
  width :100%; 
  height:0;
  background: linear-gradient(rgba(0,0,0,0.6),rgb(113, 113, 198));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition:height 0.5s;
}

.layer a img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}

.projet:hover img{
  transform: scale(1.1);
}

.projet:hover .layer{
   height: 100% ;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid rgb(113, 113, 198) ;
  padding: 14px 50px;
  border-radius : 6px ;
  text-decoration:none ;
  color : #fff ;
  transition: background(0.5s);
}
 .btn:hover{
  background:  rgb(113, 113, 198);
 }

/*============== certif ============*/
#certificats {
  padding: 50px 0;
  background: black;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.certificat-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px ,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.certificat {
  background: #262626;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: background 0.5s, transform 0.5s;
}

.certificat:hover {
  background: rgb(113, 113, 198);
  transform: translateY(-10px);
}

.certificat img {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
}

.certificat h3 {
  margin: 10px 0;
  font-size: 20px;
  color: white;
}

.certificat p {
  font-size: 14px;
  color: #ccc;
}

.certificat a img {
  width: 25px;
  height: 25px;
  margin-top: 10px;
  transition: transform 0.3s ease;
}

.certificat a img:hover {
  transform: scale(1.2);
}

/*============================== contact ===============*/
.titre-aligné {
  margin-left: 2%;
}

.containerCtc{
  margin-left: 50px;
  margin-top: 50px;
}

.contact-left{
  flex-basis:35% ;
}

.contact-right{
  flex-basis:60% ;
}
.contact-left p{
  margin-top: 30px;
}
 
.contact-left p img{
   
  filter: invert(50%) sepia(50%) saturate(500%) hue-rotate(200deg) brightness(90%) contrast(90%); /* Pour changer la couleur en bleu/violet */
  margin-right: 15px;
  font-size :  25px ;
  width : 20px;
  height : 20px ; 
}
.social-icons{
  margin-top: 30px;
}

.social-icons a img{
  filter: invert(50%) sepia(50%) saturate(500%) hue-rotate(200deg) brightness(90%) contrast(90%); 
}

.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color : #ababab ;
  display: inline-block;
   transition: transform 0.5s;
}

.social-icons a:hover{
   color :  rgb(113, 113, 198); 
   transform: translateY(-5px);
} 

.btn.btn2{
   display: inline-block;
   background: rgb(113, 113, 198);
}

.contact-right{
  width: 100%;
  margin-right: 50px;
}

form input , form textarea{
  width: 100%;
  border: 0;
  outline : none ;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color : #fff;
  font-size : 18px ; 
  border-radius: 6px;
}
form .btn2{
  padding : 14px 60px ; 
  font-size: 18px;
  margin-top : 20px ; 
  cursor : pointer ; 
}

.copyright{
  width: 100%;
  text-align: center;
  padding : 10px 0px ; 
  background : #262626 ; 
  font-weight: 300 ;
  margin-top: 20px;
}
#msg{
  color : #61b752 ; 
  margin-top: -40px ; 
  display: block ;

}


/*===========================css for small screen =======================*/
/* Menu horizontal en haut */
nav img{
  display: none;
}
nav {
  display: flex;
  justify-content: flex-end; /* icône à droite */
  padding: 10px;
  position: relative;
  z-index: 100;
}

/* Icônes */
.menu-icon,
.close-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Liste principale (cache par défaut en mobile) */
.nav-list {
  display: flex;
  gap: 15px;
  list-style: none;
}

/* =================== Mobile =================== */
@media only screen and (max-width: 600px) {

/*=============== Menu latéral ============ */
nav img{
  display: flex;
}
.nav-list {
  position: fixed;
  top: 0;
  right: -220px;
  width: 200px;
  height: 100vh;
  background: rgb(113, 113, 198);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  transition: right 0.3s ease;
  z-index: 100;
}

.nav-list.active {
  right: 0;
}

.close-icon {
  align-self: flex-start;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-bottom: 10px;
}


 .menu-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  z-index: 101;
  cursor: pointer;
}

.nav-list a:hover {
  color: #f5f5f5;
  text-decoration: underline;
  transform: scale(1.05);
} 

.site-title {
  margin-right: 50px;
}
/*==================about ============*/
.about-col-2 h1 {
   font-size: 45px;
}
.row{
  font-size: 16px;
}

}